h1{ color: rgb(255, 217, 47) ;
    border: 1px solid black;
    text-align: center; }

    #p01{ color: #02070e;
        border: 1px solid black;
        text-align: justify;
        background-color: rgba(0, 128, 100, 0.315);}

h4{ color: rgb(86, 126, 6);
text-align: center;}

#P02{ color: rgba(255, 255, 255, 0.829);
    border: 01px, solid black;
    text-align: justify;
    background-color: rgb(201, 110, 243);}